.Error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#42b983 ;
    height: 600px;
    gap: 160px;
    height: 970px;

}
.Content-error-404{
    text-align: center;
}
.Number-error-404{
font-style: normal;
font-weight: bold;
font-size: 200px;
line-height: 142px;
}

.Text-error-404{
    color: #2c3e50;
font-size: 30px;
line-height: 142%
}



.Back-Home{
    color: #077242;
    font-size: 20px;
    
}
